@* Goal/Index *@
@{
    Layout = "~/Views/Shared/blank.cshtml";

}

@section Meta{
    <!-- Toastr -->
    <link href="~/Content/Toastr/toastr.css" rel="stylesheet" />
    <!-- Morris Graph -->
    <link href="~/Content/Theme/Vendor/morris.css" rel="stylesheet" />
}

<div ng-view></div>

@section Scripts{
    <!-- Toastr -->
    <script src="~/Scripts/toastr.min.js"></script>
    <!-- Angular 1 -->
    <script src="~/Scripts/bower_components/angular/angular.min.js"></script>
    <script src="~/Scripts/bower_components/angular-route/angular-route.min.js"></script>
    <script src="~/Scripts/bower_components/angular-chosen/angular-chosen.js"></script>
    <script src="~/Scripts/bower_components/raphael/raphael.min.js"></script>
    <script src="~/Scripts/bower_components/morris.js/morris.js"></script>
    <script src="~/Scripts/bower_components/angular-morris/build/module/angular-morris/angular-morris.min.js"></script>
    <script src="~/Scripts/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script>
        var APPNAME = "GoalApp";

        (function () {
            "use strict"
            angular.module(APPNAME, ['ngRoute', 'angular-chosen', 'angular.morris', 'ui.bootstrap']);
        })();
    </script>
    <!-- Routing -->
    <script src="~/Scripts/App/Config/pageRouting.js"></script>
    <!-- Services -->
    <script src="~/Scripts/App/Services/LogHttpService.js"></script>
    <!-- ngRoute View Controllers -->
    <script src="~/Scripts/App/Controllers/globalController.js"></script>
    <script src="~/Scripts/App/Controllers/splashPageController.js"></script>
    <script src="~/Scripts/App/Controllers/settingsPageController.js"></script>
    <script src="~/Scripts/App/Controllers/inputCreditController.js"></script>
    <script src="~/Scripts/App/Controllers/inputDebitController.js"></script>
    <script src="~/Scripts/App/Controllers/logPageController.js"></script>
    <script src="~/Scripts/App/Controllers/monthPageController.js"></script>
    <script src="~/Scripts/App/Controllers/yearPageController.js"></script>
    <script src="~/Scripts/App/Controllers/wishlistPageController.js"></script>
    <!-- Morris Charts -->
    @*<script src="~/Scripts/Theme/vendor/raphael.min.js"></script>
        <script src="~/Scripts/Theme/vendor/morris.js"></script>
        <script src="~/Scripts/Theme/vendor/morris-data.js"></script>*@

}
