
@{
    ViewBag.Title = "SetGoal";
    Layout = "~/Views/Shared/blank-external.cshtml";
}

<div ng-controller="newUserController as NUC">
    <h2>SetGoal</h2>
</div>






@section Scripts{
    <script src="~/Scripts/App/Services/LogHttpService.js"></script>
    <script src="~/Scripts/App/Controllers/NewUserModalController.js"></script>
    <script src="~/Scripts/App/Controllers/NewUserController.js"></script>
}
