@if (Request.IsAuthenticated)
{
    <a class="navbar-brand" href="/Goal/Index"><span class="fa fa-diamond"></span> Goal</a>
}
else
{
 <a class="navbar-brand" href="/Home/Index"><span class="fa fa-diamond"></span> Goal</a>
}