@{
    Layout = "~/Views/Shared/blank-external.cshtml";
}

<div id="external-page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 body-content">
                <div class="banner">
                    <h1 class="title"><span class="fa fa-diamond orange"></span> Goal</h1>
                    <h2 class="subtitle">Managing your budget made easy.</h2>
                </div>
                    

            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->


