
@{
    Layout = "~/Views/Shared/blank-external.cshtml";
}
<div id="ex-login">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 body-content">
                <div class="bar-accent">
                    <span class="fa fa-user-secret fa-3x inline-block"></span> 
                    <h2 class="inline-block">Hey there, stranger.</h2>
                    <h4>Please confirm your email before accessing your budgeting services.</h4>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <br />
                        @using (Html.BeginForm("SendEmail", "Home"))
                        {
                            <button type="submit" class="btn btn-success">Resend email confimation</button>
                        }
                        <br />
                    </div>
                    <div class="col-md-5 col-md-offset-1 col-sm-12">
                        <h3><strong>Not <em>@User.Identity.Name</em> ?</strong></h3>
                        <h4>
                            @Html.ActionLink("Sign up with a different email.", "Register", "Account")
                        </h4>
                    </div>

                </div>

            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}