<!-- Input -->
<!-- inputController as InC -->
<div class="row">
    <div class="col-md-12 col-sm-12">
        <h2>{{InC.title}}</h2>
        <hr/>
        <form class="form-inline index-form">
            <div class="input-group">
                <div class="input-group-addon"><span class="fa fa-money"></span></div>
                <input type="text" class="form-control form-control-lg" placeholder="Amount" />
            </div>
            <div class="input-group">
                <div class="input-group-addon"><span class="fa fa-info-circle"></span></div>
                <input type="text" class="form-control form-control-lg" placeholder="Description" />
            </div>
            <div class="input-group">
                <div class="input-group-addon"><span class="fa fa-list"></span></div>
                <select class="form-control">
                    <option>Thing 1</option>
                    <option>Thing 2</option>
                </select>
            </div>
            <div class="input-group">
                <div class="input-group-addon"><span class="fa fa-calendar"></span></div>
                <input type="date" value="04-24-2017" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary btn-lg">Add to record</button>
        </form>
    </div>
</div>
<!-- End Input -->