<!-- New User Modal -->
<!-- newUserModalController as nUsrMC -->
<!--<div class="modal-header modal-success">
    <h3 class="modal-title">Let's talk about your savings goal</h3>
</div>-->
<!-- Body-->
<form name="newUserForm">
    <div >
        <div class="modal-body">

            <h3 class="modal-title">Let's talk about your savings goal</h3>
            <br />
            <p>How much do you already have saved? <span id="starting-amount-help" class="fa fa-question-circle cursor-pointer"></span></p>
            <div id="starting-amount-info" class="info-box" hidden>Think bank accounts, and cash on hand. Try to be as accurate as you can, but don't sweat it; you can update this value later.</div>
            <div class="input-group">
                <div class="input-group-addon">$</div>
                <input type="number" name="startingAmount" class="form-control" min="0" step="0.01" ng-model="nUsrMC.preferences.startingAmount" placeholder="0.00" required />
            </div>
            <br />
            <p>How much do you want to have by the New Year? <span id="goal-amount-help" class="fa fa-question-circle cursor-pointer"></span></p>
            <div id="goal-amount-info" class="info-box" hidden>How much money do you want in the bank before this coming January 1st? ...Hopefully it's more than you have now.</div>
            <div class="input-group">
                <div class="input-group-addon">$</div>
                <input type="number" name="goalAmount" class="form-control" min="0" ng-model="nUsrMC.preferences.goalAmount" placeholder="0" required />
                <div class="input-group-addon">.00</div>
            </div>
            <!--<br/>
            <div class="step-markers">
                <span class="fa fa-circle"></span>  
                <span class="fa fa-circle-o"></span>
            </div>-->
           
        </div>
        <!-- End Body -->

        <div class="modal-footer">
            <button class="btn btn-lg btn-success" type="button" ng-click="nUsrMC.submitForm()">Confirm</button>
            <!--<input class="btn btn-lg btn-primary" type="button" ng-click="nUsrMC.toggleForm()" ng-disabled="newUserForm.startingAmount.$invalid || newUserForm.goalAmount.$invalid " value="Continue" />-->
        </div>
    </div>
    <!-- /.part-one -->



    <!--<div class="part-two" ng-if="!nUsrMC.partOne">
        <div class="modal-body">
            <h3 class="modal-title">Ok, now to calculate your monthly budget</h3>
            <br />
            <p>Manually set your monthly spending limit <span id="starting-amount-help" class="fa fa-question-circle cursor-pointer"></span></p>
            <div id="income-info" class="info-box" hidden>Think bank accounts, and cash on hand. Try to be as accurate as you can, but don't sweat it; you can update this value later.</div>
            <div class="input-group">
                <div class="input-group-addon">$</div>
                <input type="number" name="manualBudgetAmount" class="form-control" min="0" step="1" placeholder="0"
                       ng-model="nUsrMC.preferences.manualBudget" 
                       ng-disabled="nUsrMC.preferences.predictedIncome !== null" />
                <div class="input-group-addon">.00</div>
            </div>
            <p class="page-break">— or —</p>
            <p class="pretext">We can calculate one for you:</p>
            <p>About how much do plan to make this month? <span id="goal-amount-help" class="fa fa-question-circle cursor-pointer"></span></p>
            <div id="manual-budget-info" class="info-box" hidden>How much money do you want in the bank before this coming January 1st? ...Hopefully it's more than you have now.</div>
            <div class="input-group">
                <div class="input-group-addon">$</div>
                <input type="number" name="incomeAmount" class="form-control" min="0" step="1" placeholder="0" 
                       ng-model="nUsrMC.preferences.predictedIncome"
                       ng-disabled="nUsrMC.preferences.manualBudget !== null" />
                <div class="input-group-addon">.00</div>
            </div>
            <br />
            <div class="step-markers">
                <span class="fa fa-circle-o"></span>
                <span class="fa fa-circle"></span>
            </div>
        </div>
        <!-- /.modal-body -->
        <!-- <div class="modal-footer">
            <input class="btn btn-lg btn-default" type="button" ng-click="nUsrMC.toggleForm()" value="Previous" />
            <input class="btn btn-lg btn-success" type="button" ng-click="nUsrMC.submitForm()" 
                   ng-disabled="nUsrMC.preferences.manualBudget == null && nUsrMC.preferences.predictedIncome == null" value="Confirm" />
            <!--<button class="btn btn-lg btn-success" type="button" ng-click="nUsrMC.submitForm()">Confirm</button>-->
        <!-- </div>
    </div>-->
    <!-- /.part-two -->


</form>
<!-- End New User Modal -->

<script>
    $(document).ready(function () {

        // Tool tips
        $('#starting-amount-help').on('mouseenter', function () {
            $('#starting-amount-info').stop(true).slideDown('fast');
        }).on('mouseleave', function () {
            $('#starting-amount-info').stop(true).slideUp('fast');
        });

        $('#goal-amount-help').on('mouseenter', function () {
            $('#goal-amount-info').stop(true).slideDown('fast');
        }).on('mouseleave', function () {
            $('#goal-amount-info').stop(true).slideUp('fast');
        });
    });
</script>