<!-- New User Modal -->
<!-- newUserModalController as nUsrMC -->
<div class="modal-header modal-success">
    <h3 class="modal-title">Let's get started</h3>
</div>
<!-- Body-->

<div class="modal-body">
    <p>How much money are you starting with? <span class="cursor-pointer popover pop" title="the title" data-content="this is content" ><span class="fa fa-question-circle"></span></span></p>
    <div class="input-group">
        <div class="input-group-addon">$</div>
        <input type="number" class="form-control" min="0" step="0.01" ng-model="nUsrC.preferences.startingAmount" value=5.00 />
    </div>

    
    <hr />
    <p>How much do you want to have by the New Year?</p>
    <input type="number" class="form-control" min="0" ng-model="nUsrC.preferences.goalAmount" value="5" />
</div>
<!-- End Body -->

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="nUsrMC.confirm()">Confirm</button>
</div>

<!-- End New User Modal -->