<!-- settings -->
<!--settingsPageController as SetC  -->
<div class="row">
    <div class="col-md-12 col-sm-12">
        <h2>Settings</h2>

        <h3>Monthly Settings</h3>
        <hr />
        <ul>
            <li>Predictive Settings</li>
            <li>Monthly Goal</li>
        </ul>

        <h3>Yearly Settings</h3>
        <hr />
        <ul>
            <li>Starting Amount</li>
            <li>Yearly Goal</li>
        </ul>

        <h3>General Settings</h3>
        <hr />
        <ul>
            <li>Categories</li>
        </ul>
    </div>
</div>
<!-- End Settings -->

