<!-- settings -->
<!--settingsPageController as SetC  -->
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="row">
            <h2 class="bar-accent">Settings</h2>
            <section id="general-settings-group">
                <h3>General Settings</h3>
                <hr />
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            Manage Income Categories
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <form class="index-form">
                                <input type="text" class="form-control form-control-lg big" ng-model="SetC.creditToAdd" maxlength="20" placeholder="Category Name" />
                                <button type="button" class="btn btn-primary btn-lg add-category" ng-click="SetC.addCredit()"><span class="fa fa-plus"></span> Add</button>
                            </form>
                            <hr />
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Category</th>
                                            <th>Delete</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="credit in GLOB.credits">
                                            <td><strong>{{credit.Name}}</strong></td>
                                            <td><a class="cursor-pointer" ng-click="SetC.deleteCategory(credit.CategoryId)"><span class="fa fa-trash fa-2x"></span></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-md-6 -->
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            Manage Expense Categories
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <form class="index-form">
                                <input type="text" class="form-control form-control-lg big" ng-model="SetC.debitToAdd" maxlength="20" placeholder="Category Name" />
                                <button type="button" class="btn btn-primary btn-lg add-category" ng-click="SetC.addDebit()"><span class="fa fa-plus"></span> Add</button>
                            </form>
                            <hr />
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Category</th>
                                            <th>Delete</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="debit in GLOB.debits">
                                            <td><strong>{{debit.Name}}</strong></td>
                                            <td><a class="cursor-pointer" ng-click="SetC.deleteCategory(debit.CategoryId)"><span class="fa fa-trash fa-2x"></span></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-md-6 -->

            </section>
        </div>
        <!-- ./general -->

        <div class="row">
            <section class="monthly-settings-group">
                <h3>Monthly Settings</h3>
                <hr />
                <ul>
                    <li>aim for yearly goal</li>
                    <li>manual override</li>
                    <li>Monthly budget options</li>
                </ul>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            Manage Monthly Savings Goal
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <strong>Set Savings Goal for this Month:</strong>
                                </div>
                                <!-- /.col-md-12 -->
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <form name="radio-form" class="form-check form-check-inline">
                                        <lable for="radio-fixed" class="form-check-label">
                                            <input id="radio-fixed" class="form-check-input" type="radio"  name="monthGoalType" value="Yearly" />
                                            To reach Yearly goal ($12000)
                                        </lable>
                                        <lable for="radio-average" class="form-check-label">
                                            <input id="radio-average" class="form-check-input" type="radio" name="monthGoalType" value="Manual" />
                                            Manual Override
                                        </lable>
                                    </form>
                                </div>
                                <!-- /.col-md-6 -->
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <form name="mothly-goal-form" class="input-group">
                                        <span class="input-group-addon">$</span>
                                        <input type="number" class="form-control form-control-lg big" min="0" step="1" />
                                        <span class="input-group-addon">.00</span>
                                    </form>
                                </div>
                                <!-- /.col-md-6 -->
                            </div>
                            <!-- /.row -->
                            
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel-info -->
                </div>
                <!-- /.col-md-12 -->
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div id="manage-income-categories" class="panel panel-green">
                        <div class="panel-heading">
                            Manage Income Forecasting
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Category</th>
                                            <th>Forcast Type <span class="fa fa-question-circle"></span></th>
                                            <th>Forcast Value</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="credit in GLOB.credits" ng-class="{'danger': credit.ForecastType == 'Fixed','success': credit.ForecastType == 'Average'}">
                                            <td><h4>{{credit.Name}}</h4></td>
                                            <td>
                                                <form name="radio-form" class="form-check form-check-inline">
                                                    <lable for="radio-fixed" class="form-check-label">
                                                        <input id="radio-fixed" class="form-check-input" type="radio" ng-model="credit.ForecastType" name="forcastType" value="Fixed" />
                                                        Fixed
                                                    </lable>
                                                    <lable for="radio-average" class="form-check-label">
                                                        <input id="radio-average" class="form-check-input" type="radio" ng-model="credit.ForecastType" name="forcastType" value="Average" />
                                                        Average
                                                    </lable>
                                                </form>
                                            </td>
                                            <td>
                                                <form class="input-group">
                                                    <span class="input-group-addon">$</span>
                                                    <input class="form-control" type="number" ng-disabled="credit.ForecastType != 'Fixed'" min="0" ng-model="credit.Predictions[credit.ForecastType]" />
                                                    <span class="input-group-addon">.00</span>
                                                </form>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <!-- /.tbody -->
                                    <tfoot>
                                        <tr>
                                            <td class="button-row" colspan="3">
                                                <button id="save-credit-changes" class="btn btn-lg btn-success" ng-click="GLOB.updateCreditForecastSettings()">Save Changes</button>
                                                <button class="btn btn-default btn-lg" ng-click="GLOB.getTransactionCategories()">Reset Values</button>
                                            </td>
                                        </tr>
                                    </tfoot>
                                    <!-- /.tfoot -->
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-md-12 -->
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            Manage Expense Forecasting
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Category</th>
                                            <th>Forcast Type <span class="fa fa-question-circle"></span></th>
                                            <th>Forecast Value</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="debit in GLOB.debits" ng-class="{'danger': debit.ForecastType == 'Fixed','success': debit.ForecastType == 'Average', 'warning': debit.ForecastType == 'Relative' }">
                                            <td><h4>{{debit.Name}}</h4></td>
                                            <td>
                                                <form name="radio-form" class="form-check form-check-inline">
                                                    <lable for="radio-fixed" class="form-check-label">
                                                        <input id="radio-fixed" class="form-check-input" type="radio" ng-model="debit.ForecastType" name="forcastType" value="Fixed" />
                                                        Fixed
                                                    </lable>
                                                    <lable for="radio-average" class="form-check-label">
                                                        <input id="radio-average" class="form-check-input" type="radio" ng-model="debit.ForecastType" name="forcastType" value="Average" />
                                                        Average
                                                    </lable>
                                                </form>
                                            </td>
                                            <td>
                                                <form class="input-group">
                                                    <span class="input-group-addon">$</span>
                                                    <input class="form-control" type="number" ng-disabled="debit.ForecastType != 'Fixed'" ng-model="debit.Predictions[debit.ForecastType]" />
                                                    <span class="input-group-addon">.00</span>
                                                </form>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <!-- /.tbody -->
                                    <tfoot>
                                        <tr>
                                            <td class="button-row" colspan="3">
                                                <button id="save-debit-changes" class="btn btn-lg btn-success" ng-click="GLOB.updateDebitForecastSettings()">Save Changes</button>
                                                <button class="btn btn-default btn-lg" ng-click="GLOB.getTransactionCategories()">Reset Values</button>
                                             </td>
                                        </tr>
                                    </tfoot>
                                    <!-- /.tfoot -->
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-md-12 -->
            </section>
        </div>
        <!-- ./month -->
        <div class="row">
            <section id="yearly-settings-group">
                <h3>Yearly Settings</h3>
                <hr />
                <h4>Finish line: {{SetC.dec31 | date: 'MMMM d, y'}}</h4>

                <div class="panel panel-info">
                    <div class="panel-heading">
                        Manage Yearly Settings
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <ul>
                            <li>starting amout</li>
                            <li>goal</li>
                        </ul>
                    </div>
                    <!-- /.pnael-body -->
                    <div class="panel-footer">

                    </div>
                    <!-- /.panel-footer -->
                </div>
                <!-- /.panel-info -->
            </section>
        </div>
        <!-- ./year -->

    </div>
</div>
<!-- End Settings -->
