<!-- settings -->
<!--settingsPageController as SetC  -->
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="row">
            <h2 class="bar-accent">Settings</h2>
            <section id="general-settings-group">
                <h3>General Settings</h3>
                <hr />
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            Manage Expense Categories
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <form class="index-form">
                                <input type="text" class="form-control form-control-lg big" ng-model="SetC.debitToAdd" maxlength="20" placeholder="Category Name" />
                                <button type="button" class="btn btn-primary btn-lg add-category" ng-click="SetC.addDebit()"><span class="fa fa-plus"></span> Add</button>
                            </form>
                            <hr />
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Category</th>
                                            <th>Delete</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="debit in GLOB.debits">
                                            <td>{{debit.Name}}</td>
                                            <td><a href="#"><span class="fa fa-trash"></span></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-md-6 -->

                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            Manage Income Categories
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <form class="index-form">
                                <input type="text" class="form-control form-control-lg big" ng-model="SetC.creditToAdd" maxlength="20" placeholder="Category Name" />
                                <button type="button" class="btn btn-primary btn-lg add-category" ng-click="SetC.addCredit()"><span class="fa fa-plus"></span> Add</button>
                            </form>
                            <hr />
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Category</th>
                                            <th>Delete</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="credit in GLOB.credits">
                                            <td>{{credit.Name}}</td>
                                            <td><a href="#"><span class="fa fa-trash"></span></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-md-6 -->

            </section>
        </div>
        <!-- ./general -->
        <div class="row">
            <section class="monthly-settings-group">
                <h3>Monthly Settings</h3>
                <hr />
                <p ng-repeat="debit in GLOB.debits">{{debit}}</p>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            Manage Expense Categories
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Category</th>
                                            <th>Forcast Type <span class="fa fa-question-circle"></span></th>
                                            <th>Value</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="debit in GLOB.debits">
                                            <td>{{debit.Name}}</td>
                                            <td>
                                                <form class="form-check form-check-inline">
                                                    <lable for="radio-fixed" class="form-check-label">
                                                        <input id="radio-fixed" class="form-check-input" type="radio" name="forcastType" value="0" checked />
                                                        Fixed
                                                    </lable>
                                                    <lable for="radio-average" class="form-check-label">
                                                        <input id="radio-average" class="form-check-input" type="radio" name="forcastType" value="1" />
                                                        Average
                                                    </lable>
                                                    <lable for="radio-relative" class="form-check-label">
                                                        <input id="radio-relative" class="form-check-input" type="radio" name="forcastType" value="2" />
                                                        Relative
                                                    </lable>
                                                </form>
                                            </td>
                                            <td><form><input type="number" /></form></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-md-6 -->
            </section>
        </div>
        <!-- ./month -->
        <div class="row">
            <section id="yearly-settings-group">
                <h3>Yearly Settings</h3>
                <hr />
                <ul>
                    <li>Starting Amount</li>
                    <li>Yearly Goal</li>
                </ul>
            </section>
        </div>
        <!-- ./year -->

    </div>
</div>
<!-- End Settings -->
