<!-- splash -->
<!-- splashPageController as SplC -->
<div class="row">
    <div class="col-md-12 col-sm-12">
        <ul class="list-inline">
            <li><a href="#" class="well well-sm">Transportation</a></li>
            <li><a href="#" class="well well-sm">Fun</a></li>
        </ul>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12 col-sm-12">
        <form id="transaction-btn-group" class="form-inline">
            <div class="col-md-4 col-sm-4 col-xs-12 transaction-btn">
                <a href="#/inputcredit">
                    <button id="select-credit-btn" type="button" class="btn btn-success btn-lg"><span class="fa fa-plus"></span> Add a Credit</button>
                </a>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 transaction-btn">
                <a href="#/inputdebit">
                    <button id="select-debit-btn" type="button" class="btn btn-danger btn-lg"><span class="fa fa-minus"></span> Add a Debit</button>
                </a>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 transaction-btn">
                <a href="#/log">
                    <button id="select-log-btn" type="button" class="btn btn-info btn-lg"><span class="fa fa-list"></span> View Log</button>
                </a>
            </div>
        </form>
    </div>
</div>
<hr />
<!-- End Splash -->
<!-- !Input form -->
<div class="row">
    <!-- Info Panel -->
    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <span class="fa fa-money fa-5x"></span>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">$ {{GLOB.month.ExpenseBudget - GLOB.month.MonthDebits | number:0}}</div>
                        <div><p>Left in this Month's Budget</p></div>
                    </div>
                    <hr/>
                    <div class="col-md-12">
                        <p>Spending Budget: ${{GLOB.month.ExpenseBudget}}</p>
                        <p>Spent this Month: ${{GLOB.month.MonthDebits}}</p>
                    </div>
                </div>
            </div>
            <a href="#/month">
                <div class="panel-footer">
                    <span class="pull-left">View Month in Detail</span>
                    <span class="pull-right">
                        <span class="fa fa-arrow-circle-right"></span>
                    </span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <!-- End Info Panel -->
    <!-- Info Panel -->
    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <span class="fa fa-star fa-5x"></span>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">$ {{GLOB.month.ToReachFixedGoal | number:0}}</div>
                        <div><p>Left to Reach Month's Goal</p></div>
                    </div>
                    <hr/>
                    <div class="col-md-12">
                        <p>Month Goal: ${{GLOB.month.GoalType == 'Yearly'? GLOB.month.CalculatedMonthGoal : GLOB.month.FixedMonthGoal}}</p>
                        <p>Saved this Month: ${{GLOB.month.MonthCredits - GLOB.month.MonthDebits}}</p>
                    </div>
                </div>
            </div>
            <a href="#/settings">
                <div class="panel-footer">
                    <span class="pull-left">View Settings</span>
                    <span class="pull-right">
                        <span class="fa fa-arrow-circle-right"></span>
                    </span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <!-- End Info Panel -->
    <!-- Info Panel -->
    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <span class="fa fa-trophy fa-5x"></span>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">$ {{GLOB.month.YearAmountToReachGoal | number:0}}</div>
                        <div><p>Left to Reach Year's Goal</p></div>
                    </div>
                    <hr />
                    <div class="col-md-12">
                        <p>Year Goal: ${{GLOB.month.YearGoal}}</p>
                        <p>Year Starting Amount: ${{GLOB.month.YearStartingAmount}}</p>
                        <p>Balance: ${{GLOB.month.Balance}}</p>
                    </div>
                </div>
            </div>
            <a href="#/year">
                <div class="panel-footer">
                    <span class="pull-left">View this Year in Detail</span>
                    <span class="pull-right">
                        <span class="fa fa-arrow-circle-right"></span>
                    </span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <!-- End Info Panel -->
</div>
<!-- End Panel Row -->

<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Monthly spendng by Category

            </div>
            <!-- /.panel-heading -->
            <div class="panel-body md">
                <!--<div id="morris-area-chart"></div>-->
                <div bar-chart
                     bar-data='[
                    { y: "Food", a: 100, b: 90 },
                    { y: "Gifts", a: 75,  b: 65 },
                    { y: "Health", a: 50,  b: 40 },
                    { y: "Necces", a: 75,  b: 65 },
                    { y: "Transp", a: 50,  b: 40 },
                    { y: "Person", a: 75,  b: 65 },
                    { y: "Fun", a: 100, b: 90 },
                     { y: "Utilit", a: 54, b: 54 },
                     { y: "Travel", a: 0, b: 0 },
                     { y: "Debt", a: 172, b: 172 },
                     { y: "Electr", a: 0, b: 0 },
                     { y: "Goals", a: 326, b: 326 },
                     { y: "Rent", a: 15, b: 20 },
                     { y: "Other", a: 100, b: 90 }
]'
                     bar-x='y'
                     bar-y='["a", "b"]'
                     bar-labels='["Predicted", "Real"]'
                     bar-colors='["#31C0BE", "#c7254e"]'
                     xLabelAngle="90">
                </div>
                <!-- /.chart -->
            </div>
            <!-- /.panel-body -->
            <div class="panel-footer">
                <a href="#" class="btn btn-default btn-lg btn-block">View Details</a>
            </div>
            <!-- /.panel-footer -->
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Breakdown of Monthly Spending by Category: April
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body md panel-scroll">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Category</th>
                                <th>Predicted</th>
                                <th>Real</th>
                                <th>Difference</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="danger">
                                <td>Food</td>
                                <td>$52</td>
                                <td>$27</td>
                                <td>$27</td>
                            </tr>
                            <tr>
                                <td>Gifts</td>
                                <td>$14</td>
                                <td>$0</td>
                                <td>$14</td>
                            </tr>
                            <tr>
                                <td>Health</td>
                                <td>$2</td>
                                <td>$0</td>
                                <td>$2</td>
                            </tr>
                            <tr>
                                <td>Necess</td>
                                <td>$6</td>
                                <td>$0</td>
                                <td>$6</td>
                            </tr>
                            <tr>
                                <td>Transp</td>
                                <td>$50</td>
                                <td>$44</td>
                                <td>$6</td>
                            </tr>
                            <tr class="danger">
                                <td>Person</td>
                                <td>$44</td>
                                <td>$55</td>
                                <td>$-11</td>
                            </tr>
                            <tr class="danger">
                                <td>Fun</td>
                                <td>$30</td>
                                <td>$93</td>
                                <td>$-63</td>
                            </tr>
                            <tr>
                                <td>Utilit</td>
                                <td>$54</td>
                                <td>$54</td>
                                <td>$0</td>
                            </tr>
                            <tr>
                                <td>Travel</td>
                                <td>$0</td>
                                <td>$0</td>
                                <td>$0</td>
                            </tr>
                            <tr>
                                <td>Debt</td>
                                <td>$172</td>
                                <td>$172</td>
                                <td>$0</td>
                            </tr>
                            <tr>
                                <td>Electr</td>
                                <td>$0</td>
                                <td>$0</td>
                                <td>$0</td>
                            </tr>
                            <tr>
                                <td>Goals</td>
                                <td>$326</td>
                                <td>$326</td>
                                <td>$0</td>
                            </tr>
                            <tr>
                                <td>Rent</td>
                                <td>$0</td>
                                <td>$0</td>
                                <td>$0</td>
                            </tr>
                            <tr>
                                <td>Other</td>
                                <td>$0</td>
                                <td>$0</td>
                                <td>$0</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
            <div class="panel-footer">
                <a href="#" class="btn btn-default btn-lg btn-block">View Details</a>
            </div>
            <!-- /.panel-footer -->
        </div>
        <!-- /.panel -->
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Yearly Spending by Category
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body md">
                <div donut-chart
                     donut-data='[
              {label: "Food", value: 47},
              {label: "Gifts",value: 18},
              {label: "Health", value: 2},
              {label: "Necess", value: 5},
              {label: "Transp",value: 54},
              {label: "Person", value: 44},
              {label: "Fun", value: 39},
              {label: "Utilit",value: 35},
              {label: "Travel", value: 131},
              {label: "Debt", value: 188},
              {label: "Electr",value: 63},
              {label: "A really realllly long title", value: 286},
              {label: "Rent", value: 0},
              {label: "Other",value: 20}
            ]'
                     donut-label-color='"#000000"'
                     donut-background-color='"#ffffff"'
                     donut-colors='["#31C0BE","#c7254e","#98a0d3"]'
                     donut-formatter='"currency"'>
                </div>
                <!-- /.chart -->
            </div>
            <!-- /.panel-body -->
            <div class="panel-footer">
                <a href="#" class="btn btn-default btn-lg btn-block">View Details</a>
            </div>
            <!-- /.panel-footer -->
        </div>

    </div>
</div>
