<!-- splash -->
<!-- splashPageController as SplC -->
<div class="row">
    <div class="col-md-12 col-sm-12">
        <ul class="list-inline danger-wells">
            <li ><a class="well well-sm">Transportation</a></li>
            <li><a class="well well-sm">Fun</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <form id="transaction-btn-group" class="form-inline">
            <button id="select-credit-btn" type="button" class="btn btn-success btn-lg"><span class="fa fa-plus"></span> Add a Credit</button>
            <button id="select-debit-btn" type="button" class="btn btn-danger btn-lg"><span class="fa fa-minus"></span> Add a Debit</button>
            <button id="select-log-btn" type="button" class="btn btn-info btn-lg"><span class="fa fa-list"></span> View Log</button>
        </form>
    </div>
</div>
<!-- End Splash -->
<!-- !Input form -->
<div class="row">
    <div class="Col-md-6 col-sm-6"><h1>$MonthlyAllowance</h1></div>
    <div class="Col-md-6 col-sm-6"><h1>$AnotherValue</h1></div>
</div>

<div class="row">
    <div class="col-md-6 col-sm-6 month-chart">
        <h2> This is a Month Chart</h2>
    </div>
    <div class="col-md-6 col-sm-6 year-chart">
        <h2>This is a Year Chart</h2>
    </div>
    <div class="col-md-6 col-sm-6 month-chart">
        <h2> This is a Month Chart</h2>
    </div>
    <div class="col-md-6 col-sm-6 year-chart">
        <h2>This is a Year Chart</h2>
    </div>
    <div class="col-md-6 col-sm-6 month-chart">
        <h2> This is a Month Chart</h2>
    </div>
    <div class="col-md-6 col-sm-6 year-chart">
        <h2>This is a Year Chart</h2>
    </div>
</div>