<!-- splash -->
<!-- splashPageController as SplC -->
<div class="row">
    <div class="col-md-12 col-sm-12">
        <ul class="list-inline">
            <li><a href="#" class="well well-sm">Transportation</a></li>
            <li><a href="#" class="well well-sm">Fun</a></li>
        </ul>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12 col-sm-12">
        <form id="transaction-btn-group" class="form-inline">
            <div class="col-md-4 col-sm-4 col-xs-12 transaction-btn">
                <button id="select-credit-btn" type="button" class="btn btn-success btn-lg"><a href="#/inputcredit"><span class="fa fa-plus"></span> Add a Credit</a></button>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 transaction-btn">
                <button id="select-debit-btn" type="button" class="btn btn-danger btn-lg"><a href="#/inputdebit"><span class="fa fa-minus"></span> Add a Debit</a></button>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 transaction-btn">
                <button id="select-log-btn" type="button" class="btn btn-info btn-lg"><a href="#/log"><span class="fa fa-list"></span> View Log</a></button>
            </div>
        </form>
    </div>
</div>
<hr />
<!-- End Splash -->
<!-- !Input form -->
<div class="row">
    <!-- Info Panel -->
    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <span class="fa fa-money fa-5x"></span>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">$ 99</div>
                        <div>Left in this Month's Budget</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Month in Detail</span>
                    <span class="pull-right">
                        <span class="fa fa-arrow-circle-right"></span>
                    </span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <!-- End Info Panel -->
    <!-- Info Panel -->
    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <span class="fa fa-star fa-5x"></span>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">$ 10,422</div>
                        <div>Left to Reach Goal</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Settings</span>
                    <span class="pull-right">
                        <span class="fa fa-arrow-circle-right"></span>
                    </span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <!-- End Info Panel -->
    <!-- Info Panel -->
    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <span class="fa fa-line-chart fa-5x"></span>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">+12%</div>
                        <div>Increase in Savings</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View this Year in Detail</span>
                    <span class="pull-right">
                        <span class="fa fa-arrow-circle-right"></span>
                    </span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <!-- End Info Panel -->
</div>
<!-- End Panel Row -->

<div class="row">
    <div class="col-md-6 col-sm-6 month-chart">
        <h2> This is a Month Chart</h2>
    </div>
    <div class="col-md-6 col-sm-6 year-chart">
        <h2>This is a Year Chart</h2>
    </div>
    <div class="col-md-6 col-sm-6 month-chart">
        <h2> This is a Month Chart</h2>
    </div>
    <div class="col-md-6 col-sm-6 year-chart">
        <h2>This is a Year Chart</h2>
    </div>
    <div class="col-md-6 col-sm-6 month-chart">
        <h2> This is a Month Chart</h2>
    </div>
    <div class="col-md-6 col-sm-6 year-chart">
        <h2>This is a Year Chart</h2>
    </div>
</div>